/*Hamburger icon referenced - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav*/

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.app-header {
  order: 1;
  background-color: #282c34;
  height: 50px;
  width: 100%;
  /*align-items: center;
  justify-content: center;*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*nav styles*/
.hamburger-icon{
  font-size:35px;
  cursor:pointer;
  color: white;
  
  /*width: 350px;
  height: 5px;
  font-size: calc(10px + 2vmin);
  background-color: white;
  margin: 6px 0;*/
}

.side-nav{
  height: 100%;
  width: 0;
  z-index: 1;
  position: fixed;
  overflow-x: hidden;
  transition: 0.4s;
  top: 0;
  left: 0;
}

.side-nav h6{
  display: block;
}

.side-nav .closebtn{
  top:0;
}
/*map styles*/
#map{
  order: 2;
  height:713px;
  width: 100%;
}
